<%- include("partials/header"); -%>
    <h1>About Us</h1>
    <p>Daily Journal is a platform dedicated to providing individuals with a space to express themselves freely through blogging. Our mission is to empower writers of all levels to share their unique perspectives, stories, and ideas with a wider audience. </p>

<p>Founded on the belief that everyone has a story worth sharing, Daily Journal strives to create a welcoming and inclusive community for bloggers from all walks of life. Whether you're a passionate writer, a casual blogger, or someone looking to explore the world of blogging, Daily Journal is here to support and inspire you on your journey. </p>
        
<p>Our team is committed to providing you with a seamless and enjoyable blogging experience. We're constantly working to improve our platform, add new features, and enhance the overall user experience. </p>
        
<p>Join us at Daily Journal and become part of a vibrant community of bloggers who are passionate about sharing their voice with the world.</p>
<%- include("partials/footer"); -%>
